.logo {
    align-items: center;
    display: flex;
}

.fl{
    float: left;
}

.logo img{
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}

.footer {
    text-align: center;
}


.container {
    padding-top: 10px;
}
.leftContainer {
    width: 400px;
    float: left;
}

.carousel{
    width: 400px;
}

.carousel img{
    width: 400px;
}

.tabs_news{
    left: 5px;
}

.topNewsList{
}

.imageblock{
    margin-right: 3px;
    float: left;
}